<p id="notice"><%= notice %></p>

<h1><center>UNM -DEPARTMENTS</center></h1>
<br />
<br />


 <% @parsed_dept.each do |event| %>
      <% dept_name = event["url"] %>
       <li><%= link_to(event["name"], degrees_path(:dept_name => dept_name)) %></li> 
      <% end %>
