<p id="notice"><%= notice %></p>

<h1><center>UNM -COURSES</center></h1>
<li><%= @b %></li>
<br />
<br />
<table border="1">
      <tbody id="courseTable">
        <tr class="class">
          <th colspan="2">Freshman</th>
          <th colspan="2">Sophomore</th>
          <th colspan="2">Junior</th>
          <th colspan="2" class="last">Senior</th>
        </tr>
        <tr class="semester">
          <th>Fall</th>
          <th>Spring</th>
          <th>Fall</th>
          <th>Spring</th>
          <th>Fall</th>
          <th>Spring</th>
          <th>Fall</th>
          <th class="last">Spring</th>
        </tr>
</tbody>
</table>

