/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 */

#header
{
	background: #c10037;
	box-shadow: 0px 7px 9px #666;
	height:60px;
}

#headerwrap
{
	width: 350px;
	height: 30px;
	margin-left: 60px;
	margin-right: auto;
	margin-top: -40px;
}