<!DOCTYPE html>
<html>
<head>
  <title>Degrees</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="header">
		<div id="headerwrap">
			<a href="http://www.unm.edu/"><img alt="UNM Logo" height="60px" src="http://degrees.unm.edu/assets/layout/Logo-072057a2d0687e68145f541da12b18e3.png"></a>
		</div>
	</div>

<%= yield %>

</body>
</html>
